h3 {
  border-bottom: 0;
}

.kuerzelListContainer {
  width: 8rem;
  border: 1px gray solid;
  padding: 2px;
}

.kuerzelBox {
  background-color: rgb(255, 226, 251);
  border: 1px rgb(255, 203, 246) solid;
  width: 100%;
  text-align: center;
}