h5 {
  text-align: center;
  padding: 0%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

mat-form-field {
  font-size: x-small;
  width: 100%;
}
.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-height: 65px;
}

input {
  width: 80%;
}

.tableContainer {
  margin-top: 1rem;
  margin: auto;
  display: flex;
}

.columnClass {
  display: flex;
}

.rowDay {
  width: 100%;
}

.row {
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;
  display: flex;
}

.column {
  border: 1px gray solid;
  width: 95%;
}

.ContainerColumnDragAndDrop {
  display: flex;
  width: 100%;
}

.ColumnDragAndDrop {
  width: 100%;
  border-right: 1px gray solid;
}

.description {
  display: flex;
}

.day {
  width: 7rem;
  border-right: 1px gray solid;
}

.lessons {
  width: 2rem;
  text-align: center;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
  height: 6.5rem;
}

.cell {
  border-bottom: 1px gray solid;
  height: 6.5rem;
}

.cellInput {
  display: flex;
  margin-left: 2px;
}

.parent {
  display: inline-block; 
}

  .child1 {
    flex: 1;
    z-index: 5;
  }

.child {
  width: 10%;
}


.mat-form-field {
  position: relative;
  width: 145px;
}

