h5 {
  text-align: center;
  padding: 0%;
}

h3 {
  font-weight: 500;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

mat-form-field {
  font-size: x-small;
  width: 100%;
}
.example-list {
  border: solid 1px #ccc;
  min-height: 30px;
  background: white;
  border-radius: 4px;
  margin: auto;
  width: 90%;
}

.example-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  min-height: 30px;
  text-align: center;
}

input {
  width: 80%;
}

.tableContainer {
  margin-top: 1rem;
  display: flex;
}

.columnClass {
  display: flex;
  margin-left: 9rem;
  background-color: rgb(213, 230, 255);
}

.rowDay {
  width: 100%;
}

.row {
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;
  display: flex;
}

.column {
  border: 1px gray solid;
  width: 95%;
  text-align: center;
}

.ContainerColumnDragAndDrop {
  display: flex;
  width: 100%;
}

.ColumnDragAndDrop {
  width: 100%;
  border-right: 1px gray solid;
}

.columnTeachers {
  margin-left: 1rem;
  text-align: center;
}

.description {
  display: flex;
}

.day {
  width: 7rem;
  border-right: 1px gray solid;
  background-color: rgb(213, 230, 255);
  text-align: center;
}

.lessons {
  width: 2rem;
  text-align: center;
  border-right: 1px gray solid;
  border-bottom: 1px gray solid;
  height: 6.5rem;
  background-color: rgb(235 243 254);
}

.cell {
  border-bottom: 1px gray solid;
  height: 6.5rem;
}

.cellInput {
  display: flex;
  margin-left: 2px;
}

.parent {
  display: inline-block; 
}

  .child1 {
    flex: 1;
    z-index: 5;
  }

.child {
  width: 10%;
}
.primary_button {
  background-color: rgb(213, 230, 255);
  border: none;
  font-size: medium;
  border-radius: 10px 10px 10px 10px;
  margin-top: 1rem;
  height: 2rem;
  cursor: pointer;
}


