
<div class ="tableContainer">
  <!--Beschriftung Spalten-->
  <div class ="columnClass">
    <div *ngFor="let class of classes" class="column"><h3>{{class}}</h3></div>
  </div>

  <div class = "rowDay">
    <div *ngFor="let day of days" class="row">
      <!--Beschriftung Zeilen-->
      <div class="description">
        <div class="day">
          <h3>{{day}}</h3>
        </div>

        <div  class="lessons">
          <h5 *ngFor="let lesson of lessons">{{lesson}}</h5>
        </div>
      </div>

      <!--Spalten für Zuordnung-->
      <div class="ContainerColumnDragAndDrop">
        <div *ngFor="let class of classes" class="ColumnDragAndDrop">
          <div *ngFor="let lesson of lessons">
            <div>
              <h5>test</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>