<div class="tableContainer" cdkDropListGroup>
  <div>
    <div class="columnClass">
      <div>    
        <mat-label>Block 1</mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Start-/ Enddatum</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-label>KW3-4</mat-label>
        <mat-label>-> 1KW</mat-label>
    </div>
      <div *ngFor="let class of classes; index as j" class="column">
        <h3>{{class}}</h3>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done[j]" class="example-list"
          (cdkDropListDropped)="onDrop($event)">
          <div class="example-box" *ngFor="let item of done[j]" cdkDrag [attr.data_index]="j">{{item}}</div>
        </div>
      </div>
    </div>
    <div class="rowDay">
      <div *ngFor="let day of days" class="row">
        <!--Beschriftung Zeilen-->
        <div class="description">
          <div class="day">
            <h3>{{day}}</h3>
          </div>
          <div>
            <div *ngFor="let lesson of lessons" class="lessons">
              <h5>{{lesson}}</h5>
            </div>
          </div>
        </div>
        <!--Spalten für Zuordnung-->
        <div class="ContainerColumnDragAndDrop">
          <div *ngFor="let class of classes; let x=index;" class="ColumnDragAndDrop">
            <div *ngFor="let lesson of lessons ; let y=index;">
              <div class="cell">
                <!--Input für Raum und Notiz-->
                <form>
                  <div class="cellInput">
                    <p style="width: 3rem;">Raum:</p>
                    <input type="text">
                  </div>
                  <div class="cellInput">
                    <p style="width: 3rem;">Notiz:</p>
                    <input type="text">
                  </div>
                  <!--
                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneCell[x][y]" class="example-list"
                    (cdkDropListDropped)="onDrop($event)" [innerText]="x+''+y">
                    <div class="example-box" *ngFor="let item of doneCell[x][y]" cdkDrag [attr.data_index]="[x][y]" [innerText]="item">{{item}}</div>
                  </div>
                  -->
                  <div class="cellInput">
                    <p style="width: 3rem;">Lehrer:</p>
                    <input id="lehrerInput{{x}}{{y}}" type="text">
                  </div>
                </form>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
  <div class="columnTeachers">
    <h3>Kürzel</h3>
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" class="example-list"
      (cdkDropListDropped)="onDrop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
    <button (click)="setAllKlassenlehrer()" class="primary_button">Speichen</button>
  </div>
</div>