<div layout="column">
    <div flex>
<mat-form-field appearance="legacy">
    <mat-label>Bitte Block eingeben</mat-label>
    <input matInput placeholder="Block">
</mat-form-field>
</div>
<div flex>
<mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<div flex>
  <p>KW 8-12 -> 4KW</p> 
</div>

