<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  
    <!-- Name Column -->
    <ng-container matColumnDef="tag-montag">
      <th mat-header-cell *matHeaderCellDef> Montag </th>
      <td mat-cell *matCellDef="let element"> {{element.montag}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tag-dienstag">
        <th mat-header-cell *matHeaderCellDef> Dienstag </th>
        <td mat-cell *matCellDef="let element"> {{element.dienstag}} </td>
      </ng-container>
      
      <ng-container matColumnDef="tag-mittwoch">
        <th mat-header-cell *matHeaderCellDef> Mittwoch </th>
        <td mat-cell *matCellDef="let element"> {{element.mittwoch}} </td>
      </ng-container>

      <ng-container matColumnDef="tag-donnerstag">
        <th mat-header-cell *matHeaderCellDef> Donnerstag </th>
        <td mat-cell *matCellDef="let element"> {{element.donnerstag}} </td>
      </ng-container>

      <ng-container matColumnDef="tag-freitag">
        <th mat-header-cell *matHeaderCellDef> Freitag </th>
        <td mat-cell *matCellDef="let element"> {{element.freitag}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  